In [60]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.linalg as scl
import pandas as pd

In [66]:
data_file = 'Hk_tests/non_standard_cell/1by1/dense/Hk.dat'
data = np.loadtxt(data_file,skiprows=(1))
indices = data[:, :2]
eigvals_real = data[:, 2]
eigvals_complex = data[:, 3]

max_index = int(np.max(indices))

Hk_dense = np.zeros((max_index, max_index),dtype=complex)

for (i1, i2), real,imag in zip(indices,eigvals_real,eigvals_complex):
    Hk_dense[int(i1)-1, int(i2)-1] = real + imag*1j
pd.DataFrame(Hk_dense)

,0,1,2,3
0,0.000037+0.000000j,0.000000+0.000000j,-0.030663-0.094366j,-0.018951-0.058323j
1,0.000000+0.000000j,0.000037+0.000000j,-0.018951+0.058323j,-0.099223+0.000000j
2,-0.030663+0.094366j,-0.018951-0.058323j,0.000037+0.000000j,0.000000+0.000000j
3,-0.018951+0.058323j,-0.099223+0.000000j,0.000000+0.000000j,0.000037+0.000000j

In [67]:
scl.ishermitian(Hk_dense)

True

In [70]:
data_file = 'Hk_tests/non_standard_cell/1by1/sparse/Hk.dat'
data = np.loadtxt(data_file,skiprows=(1))
indices = data[:, :2]
eigvals_real = data[:, 2]
eigvals_complex = data[:, 3]

max_index = int(np.max(indices))

Hk_sparse = np.zeros((max_index, max_index),dtype=complex)

for (i1, i2), real,imag in zip(indices,eigvals_real,eigvals_complex):
    Hk_sparse[int(i1)-1, int(i2)-1] = real + imag*1j
pd.DataFrame(Hk_sparse)

,0,1,2,3
0,0.000037+0.000000j,0.000000+0.000000j,-0.030663-0.094366j,0.080273-0.058323j
1,0.000000+0.000000j,0.000037+0.000000j,-0.099223+0.000000j,-0.099223+0.000000j
2,-0.030663+0.094366j,0.080273-0.058323j,0.000037+0.000000j,0.000000+0.000000j
3,-0.099223+0.000000j,-0.099223+0.000000j,0.000000+0.000000j,0.000037+0.000000j

In [71]:
scl.ishermitian(Hk_sparse)

False